
services:
  web: 
    depends_on:
      - api
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    environment:
      - NODE_ENV=development
    develop:
      watch:
        - path : ./frontend/package*.json
          action: rebuild
        - path : ./frontend
          target: /app
          action: sync


  api:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
    environment:
      - NODE_ENV=development
    develop:
      watch:
        - path : ./backend/package*.json
          action: rebuild
        - path : ./backend
          target: /app
          action: sync

volumes:
  ai_agent: